@font-face {
  font-family: CrimsonText;
  src: url('/fonts/crimsontext/CrimsonText-Semibold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CrimsonText;
  src: url('/fonts/crimsontext/CrimsonText-Bold.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: CrimsonText;
  src: url('/fonts/crimsontext/CrimsonText-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CrimsonText;
  src: url('/fonts/crimsontext/CrimsonText-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}


@font-face {
  font-family: Montserrat;
  src: url('/fonts/montserrat/Montserrat-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/montserrat/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: BentonSans;
  src: url('/fonts/benton/bentonsans-book.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: BentonSans;
  src: url('/fonts/benton/bentonsans-medium.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: BentonSans;
  src: url('/fonts/benton/bentonsans-regular.ttf');
  font-weight: normal;
  font-style: normal;
}
