@font-face {
  font-family: "CrimsonText";
  src: url('/public/fonts/crimsontext/CrimsonText-Regular.ttf');
}

@font-face {
  font-family: "CrimsonText";
  src: url('/public/fonts/crimsontext/CrimsonText-Semibold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "CrimsonText";
  src: url('/public/fonts/crimsontext/CrimsonText-Bold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: "CrimsonText";
  src: url('/public/fonts/crimsontext/CrimsonText-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Monteserrat-Regular.ttf');
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Monteserrat-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Monteserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Monteserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Monteserrat-Black.ttf');
  font-weight: bolder;
}
