@import "~styles/main";

.container {
  display: flex;
  height: 100vh;
  letter-spacing: 2px;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 40px 0;
  background-color: darken($white, 2%);

  h1 {
    font-size: 4em;
  }

  p {
    margin-top: 70px;
    margin-bottom: 30px;
    color: lighten($black, 70%);
    font-size: 1.5em;
  }

  img {
    width: 100px;
    margin: 20px;
  }

  .loginButton {
    margin-top: 50px;
    margin-bottom: 0;
  }

  input {
    width: 220px;
  }
}

.imageContainer {
  position: relative;
  width: 70%;
  overflow: hidden;

  img {
    z-index: -1;
    position: absolute;
    height: 100%;
    filter: blur(2px) brightness(0.5);
  }
}

.imageContent {
  position: absolute;
  top: 40%;
  left: 10%;
  color: $white;

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.2em;
  }
}
