@import '~styles/main';

.container {
  background-color: darken($white, 10%);
  height: 100vh;
}

.banner {
  padding: 30px 0;
  box-shadow: 0 2px 2px 0.5px rgba(0,0,0,0.20);
  background-color: $white;

  h1 {
    margin: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 3px;
    text-align: center;
  }
}

.menuItemContainer {
  width: 400px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 1px 1px 2px 0.5px rgba(0,0,0,0.20);
  border-radius: 5px;
  background-color: $white;
}

.menuHeader {
  display: flex;
  margin: 10px 0 10px;
  font-size: 0.8em;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: $light-gray;

  & * {
    margin: 0 10px;
  }

  div:first-child {
    margin-left: calc(5% + 20px);
    width: 50%;
  }

  div:last-child {
    width: 45%;
  }
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  margin: 0 auto;

  &:hover {
    background-color: darken($white, 2%);
  }

  &:hover .deleteButton {
    opacity: 1;
  }

  & * {
    margin: 0 10px;
  }

  .name {
    width: 50%;
  }

  .servings {
      width: 45%;
  }

  .deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 5%;
    margin: 0 5px;
    border-radius: 60%;
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border: 0;
    padding: 0;
  }
}

.addButton {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-size: 2em;
  background-color: lighten($dark-red, 20%);
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0.5px rgba(0,0,0,0.2);
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.saveButton {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  letter-spacing: 1.5px;
  text-align: center;
  border: none;
}
