@import '~styles/main';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
    background-color: $green;
}

.editProfile {
    padding: 10px;
    height: 25px;
    width: 25px;

    &:hover {
        cursor: pointer;
    }
}

.logo {
    display: flex;
    align-items: center;

    p {
        margin: 0 10px;
        font-size: 24px;
        color: $white;
    }

    img {
        height: 25px;
        width: 25px;
    }
}